h1{
    font-size: 32px;
    text-align: center;
    color: red;
}
label{
    display: block;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.block{
    width: 400px;
    height: auto;
    min-height: 700px;
    background-color: #696969;
    padding: 40px;
    border-radius: 15px;
}
.block input{
    display: block;
    width: 366px;
    padding: 15px;
    font-size: 18px;
    outline: none;
    border: 1px solid #f97515;
    border-radius: 6px;
    margin-bottom: 20px;
}
input#button{
    display: block;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    background-color: #f97515;
    color: #FFF;
    transition-duration: 0.5s;
    transition-property: background-color;
    border: none;
    text-transform: uppercase;
}
input#button:hover{
    background-color: #007d16;
}
input.number{
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}
.block-result {
    display: block;
    margin-bottom: 35px;
}
.rez{
    display: block;
    font-size: 36px;
    padding: 18px 21px;
    background-color: #7a7a66;
    margin-top: 10px;
    height: 28px;
    box-shadow: -1px 4px 7px -4px #000000 inset;
    font-family: 'Orbitron', sans-serif;
    overflow: auto;
}